.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
        ellipse 80% 40% at 50% 60%,
        rgba(220, 95, 0, 0.4) 0%,
        transparent 70%
    ),
    radial-gradient(
        ellipse 60% 30% at 50% 55%,
        rgba(255, 120, 0, 0.2) 0%,
        transparent 60%
    ),
    #05010f;
    padding-top: 600px;
    gap: 20px;
    background: none;
}

.herbut{
    margin: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.geti{
    background-color: #DC5F00;
    padding: 8px 16px;
    color:white;
    border-radius: 64px;
    border: none;
}

.try{
    padding: 8px 16px;
    border-radius: 64px;
    background: none;
    color: #ffffff;
    border-color: white;
}

.herbut{
    background: none;
    margin-top: 10px;
}

.her-cute{
    display: flex;
    justify-content: center;
}

.tag{
    padding: 12px 18px;
    justify-content: center;
    text-align: center;
    background-color: none;
    border: 1px solid #ff9d52cc;
    box-shadow:
    0 0 10px #DC5F00,
    0 0 20px #DC5F00;
    animation: tagGlow 3s ease-in-out infinite;
    color: white;
    font-size: 12px;
    background-color: #9ca3af23;
    border-radius: 34px;
}

@keyframes tagGlow {
    from{
        box-shadow:
        0 0 10px #DC5F00,
        0 0 20px #DC5F00;
    }
    to{
        box-shadow:
        0 0 20px #DC5F00,
        0 0 50px #ff6a00,
        0 0 90px #ff4500;
    }
}

.icon{
    background-color: none;
}

.allmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    background: none;
}

.maintxt{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 850px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-top: 0px;
    background: none;
    gap: 20px;
}

.maintxt h1{
    width:100%;
    max-width: 850px;
    font-size: 46px;
    text-align: center;
    overflow-wrap: break-word;
    line-height: 45px;
    word-wrap: break-word;
    background: none;
    color: white;
    margin-bottom: 0px;
    font-weight: 500;
}

.maintxt p{
    color:#9ca3af;
    width:100%;
    max-width: 550px;
    font-size: 12px;
    background: none;
    margin-top: 0px;
}

.dash{
    width: 950px;
    border: 8px solid #dc5f0069;
    border-radius: 24px;
    box-shadow:
        0 0 40px rgba(220, 95, 0, 0.4),
        inset 0 0 40px rgba(220, 95, 0, 0.1);
}

@media (max-width: 480px){
    .maintxt h1{
        font-size: 28px;
        padding: 0px 40px;
        width: 100%;
        max-width: 460px;
    }

    .maintxt{
        margin: 0px 40px;
    }
}