
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 70px;        /* increase from 30px */
  width: 100%;         /* change from 100vw */
  box-sizing: border-box;
  position:absolute;     /* fix to top */
  top: 30px;
  left: 0;
  z-index: 100;
  background: none;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 14px;
    color: #9ca3af;
    list-style: none;
    font-size:12px;
    background: none;
}

.list li{
    background: none;
    color: #9ca3af;
}
.liee{
    background: none;
}
.list li:hover{
    color:#DC5F00;
}
.logo{
    height:34px;
    width:34px;
    border-radius: 4px;
}
.logoname{
    color:#9ca3af;
    font-size: 18px;
}
.logoin{
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items:center;
}

.sign{
    padding: 0px 14px;
    background-color: none;
    border-color: rgba(255, 255, 255, 0.491);
    font-size: 11px;
    border-radius: 64px;
    color: #9CA3AF;
}

.sign:hover{
    background-color: #DC5F00;
    color:#ffffff;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.get{
    padding: 5px 14px;
    background-color: #DC5F00;
    border-color: #ff9e55b0;
    font-size: 11px;
    color:white;
    border-radius: 64px;
    border-width: 2px;
}

.get:hover{
    padding: 0px 14px;
    background-color: none;
    scale:105%;
    border-color: #ffffff;
    font-size: 11px;
    color: white;
    border-radius: 64px;
    border-width: 2px;
}